---

---

<header class="transition">
	<div id="mobileHeader">
		<div class="logo">MeowMine</div>
		<button id="headerToggle">open</button>
	</div>
	<div id="headerModal" class="modal modal-invisible">
		<nav id="mobileMenu" class="drawer-invisible">mobile menu</nav>
	</div>

	<nav id="desktopHeader">
		<a href="/">
			<div class="logo">MeowMine</div>
		</a>

		<ul class="linksList">
			<li><a href="/">Главная</a></li>
			<li><a href="/about">О нас</a></li>
			<li><a href="/blog">Блог</a></li>
			<li><a href="#">Discord</a></li>
		</ul>
		
		<a href="/purchase">Купить проходку</a>
	</nav>
</header>
<script>
	function toggleMenuView() {
		headerModal?.classList.toggle('modal-visible')
		headerModal?.classList.toggle('modal-invisible')
		setTimeout(() => {
			headerModal?.classList.toggle('modal-background')
		}, 150)
	}

	const headerModal = document.getElementById('headerModal')
	const headerToggle = document.getElementById('headerToggle')

	headerToggle?.addEventListener('click', () => {
		toggleMenuView()
	})
	headerToggle?.addEventListener('touch', () => {
		toggleMenuView()
	})

	headerModal?.addEventListener('click', (e) => {
		if (e.target !== headerModal) return
		toggleMenuView()
	})
	headerModal?.addEventListener('touch', (e) => {
		if (e.target !== headerModal) return
		toggleMenuView()
	})
</script>
<style>
	header {
		padding: 0.75rem 0;
		font-size: 17px;
	}

	#headerToggle {
		display: none;
	}

	#mobileHeader {
		display: none;
	}

	#desktopHeader {
		display: flex;
	}

	.modal {
		display: flex;
		justify-content: flex-end;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		cursor: pointer;
		opacity: 0;
		transition:
			0.5s opacity ease-in-out,
			0.5s right ease-out;
	}

	.modal-background {
		backdrop-filter: blur(6px);
		background: rgba(0, 0, 0, 0.2);
	}

	.modal-visible {
		right: 0px;
		opacity: 1;
	}

	.modal-invisible {
		right: -100vw;
		transition: 0.3s;
	}

	#mobileMenu {
		width: 300px;
		height: 100vh;
		cursor: default;
		padding: 0.5rem;
		background-color: #fefefe;
	}

	#desktopHeader {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	.linksList {

	}

	.linksList li {
		display: inline;
	}

	.linksList a {
		padding: 0.5rem;
	}

	.logo {
		width: 137px;
	}

	@media screen and (max-width: 1200px) {
		header {
			padding: 0.5rem 0.75rem;
		}
	}

	@media screen and (max-width: 768px) {
		#mobileHeader {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#headerToggle {
			display: block;
		}
		#desktopHeader {
			display: none;
		}
	}
</style>
